.entities {
    display: flex;
    position: relative;
    padding: 20px;
    cursor: pointer;
    height: 40vh;
}

.entity:hover {
    opacity: 0.8;
}

.reservation__price {
    color: #FF5A5F;
    font-size: x-large;
    font-weight: bold;

}

.bookableProfilePicture {
    width: 100%;
    aspect-ratio:4/3;
  }

.entities img {
    height: 240px;
    width: auto;
    border-radius: 10px;
    overflow: hidden;
}

.entity__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding-left: 20px;
    width: 100%;
}

.entity__heart {
    position: absolute;
    top: 20px;
    right: 40px;
}

.entity__infoTop {
    width: fit-content;
}

.entity_description {
    border-top: 1px solid #FF5A5F;
}

.entity__location {
    display: flex;
    align-items: flex-start;
    font-size: medium;
}

.entity__infoBottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;

}

.entity_explore_button {
    background-color: #FF5A5F;
}

.entity__star {
    color: red;
}

.location_icon {
    color: red;
}

.entity__stars > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.1rem;
}




.entity__price {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: x-large;
    font-weight: bold;
}


.entity_price_per {
    font-size: large;
    font-weight: bold;

}

.entity_right_corner {
    display: flex;
    flex-direction: column;
    width: fit-content;
    gap: 20px;
}

.owner__actions {
    display: flex;
    gap: 5px;
}

.owner__actions > Button {
    width: fit-content;
    border-radius: 7px;
}

.exploreAndReserveButtons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 0;
}


@media only screen and (max-width: 812px) {

    .entity {
        margin: 10px;
        padding: 0;
    }

    .entity__heart {
        top: -15px;
        right: 0;
    } 

    .entity__infoTop {
        width: 41vw;
        padding-bottom: 15px;
    }  
    
    .entity__infoTop h3 {        
        margin-top: 5px;
    }

    .entity__infoTop p {
        margin-top: 0;
    }

    .entity__price  {
        bottom: -46x;
        font-size: 10px;
        right: 0;
        display: flex;
        padding-top: 30px;
    }
   
    .entity__price p {
        display: none;
    }
    
}