.availability--periods-dateRangePicker{
    width: 98%;
    box-shadow: 2px 2px 15px 2px rgba(0.3,1,2,0.3);
    margin:1em;
}

.availability--periods--data{
    margin: 1em 0 2em 0;
    display: flex;
    width: 98%;
    justify-content: space-between;
}

.availability--periods--textfield{
    width: 40%;
}
.availability--periods--submit{
    width: 100%;
    margin-left: 10px;
}

.availability--periods--container{
    display: flex;
    flex-direction: column;
    width: 43%;
    background-color: white;
    box-shadow: 5px 5px 15px -1px rgba(0,0,0,0.75);
    box-sizing: border-box;
    border-radius: 10px;
    font-size: large;
    margin: 1.5em 1.5em 10% 8em ;
    align-items: center;
    padding: 20px;

}

.availability--periods--header{
    margin-bottom: 20px;
    margin-top: 20px;
}
