.hotelContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    position: relative;
    font-weight: 500;
  }
  
  .hotelWrapper {
    width: 100%;
    height: 100%;
    max-width: 1024px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
  }
  
  
  .hotelTitle {
    font-size: 30px;
  }

  .entityAddressAndPrice {
    display: flex;
    justify-content: space-between;
  }
  
  .hotelAddress {
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    gap: 3px;
  }

  .price {
    font-size: 1.5rem;
    font-weight: bold;
  }

  .night {
    font-size: 1.2rem;
    font-weight: bold;
    color: black;
  }
  
  
  .hotelImages {
    display: flex;
    flex-wrap: wrap;
  }
  
  .hotelImgWrapper {
    width: 33.33%;
    height: 230px;
  }
  
  .hotelImg {
    width: 99%;
    height: 98%;
    object-fit: cover;
    cursor: pointer;
  }
  
  .paragraphs {
    margin-bottom: 20px;
    border-bottom: 2px solid rgba(18, 17, 17, 0.148);
  }

  .reviewParagraphs {
    margin-bottom: 20px;
    border-bottom: 2px solid rgba(18, 17, 17, 0.148);
    margin-top: 25px;
    border-top: 2px solid rgba(18, 17, 17, 0.148);
    padding-top: 5px;
  }

  .paragraphs > h3{
    margin: 10px 0 10px 0;
    font-weight: 600;
  }

  .paragraphs > p{
    margin-bottom: 20px;
    font-weight: 500;
  }
  
  .hotelDetailsPrice {
    flex: 1;
    background-color: #ebf3ff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .slider{
    position: absolute;
    align-items: center;
    display: flex;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.613);
    z-index: 999;
    margin-top: -20px;
  }
  
  .sliderWrapper{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .sliderImg{
    position: relative;
    margin: 0% 5% 0% 8%;
    width: 80%;
    height: 80vh;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
  }
  
  .close{
    position: absolute;
    top: 2%;
    right: 5%;
    font-size: 30px;
    color: lightgray;
    cursor: pointer;
  }
  
  .arrow{
    margin: 20px;
    font-size: 50px;
    color: lightgray;
    cursor: pointer;
  }

  .rating{
    display: flex;
    flex-direction: row;
    font-size: 1.1rem;
    align-items:center;
    gap: 2px;
    padding: 3px;
    width: fit-content;
    border-radius: 5px;
    color:black;
  }
  .cottageCapacity {
    display: flex;
    gap: 50px;
    border: 1px solid rgba(0, 0, 0, 0.236);
    padding: 5px;
  }

  .adventureCapacity {
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid rgba(0, 0, 0, 0.236);
    padding: 5px;
    font-size: large;

  }

  .adventureCapacity > span {
    display: flex;
    font-weight: bold;
    align-items: center;
  }
  

  .boatParam {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    padding: 5px;
    font-size: large;

  }

  .boatParam > span {
    font-weight: bold;
  }


  .boatDetails {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    border: 1px solid rgba(0, 0, 0, 0.236);
  }

  .bedrooms, .beds {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  .capacityNum {
    font-weight: bolder;
  }

  .showActions {
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(0, 0, 0, 0.247);
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.247);
  }

  .showActions > h4 {
    margin-left: 8px;
    margin-top: 8px;
    color: #FF5A5F;
  }

  .showActions > div {
    display: flex;
    flex-direction: column;
    border-top: 1px solid rgba(0, 0, 0, 0.247);
  }

  .showActionContainer {
    border-top: 1px solid rgba(0, 0, 0, 0.247);
    padding: 10px;

  }

  .showAction {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .unavailable-actions{
    margin-left: 8px;
    margin-top:8px
  }

  .showActionDates {
    display: flex;
    flex-direction: row;
    gap: 30px;

  }


  .actionDate, .actionTime {
    display: flex;
    flex-direction: column;
  }

  .actionDate > div > label, .actionTime > div > label {
    font-weight: bolder;
    margin-right: 5px;
  }

  .rightActionContainer, .leftActionContainer {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .leftActionContainer {
    justify-content: space-between;
  }


  .leftActionContainer > span {
    color: rgba(12, 174, 12, 0.875);
  }

  .showActionPrice {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .originalAndDiscountPrice > label {
    color: red;
    text-decoration: line-through;
    font-size: small;
    margin-right: 6px;
  }

  .originalAndDiscountPrice > span {
    font-weight: bold;
    font-size: large;
  }

  .services {
    display: flex;
    flex-direction: row;
    gap: 12px;
    margin-bottom: 20px;
    width: 100%;
  }

  .service > p {
    display: flex;
    background-color: #FF5A5F;
    border-radius: 8px;
    width: fit-content;
    padding: 10px;
    height: 5vh;
    font-weight: 500;
    align-items: center;
  }

  .reviews {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    gap: 20px;
    padding: 5px;
  }

  .review {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
    gap: 10px;
    border: 1px solid rgba(0, 0, 0, 0.247);
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.247);
    position: relative;
    top: 0;
    transition: top ease 0.5s;
  }

  .review:hover{
    top: -5px;
  }

  .clientInfo {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

  .clientNameEmail {
    display: flex;
    flex-direction: column;
    height: fit-content;
    margin: 0;
  }

  .clientEmailReview {
    color: rgba(0, 0, 0, 0.445);
  }

  .reviewHeader {
    display: flex;
    flex-direction: row;
    color: #FF5A5F;
    gap: 12px;
  }

  .reviewInfos {
    display: flex;
    flex-direction: row;
    width: 100%;
    
  }

  .reviewInfo {
    width: 50%;
  }

  .ownerMainInfo {
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 500;
    gap: 3px;
    width: 25vw;
  }
