div.entities-view {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 10px;
}

.entityCard {
    position: relative;
    width: 600px;
    height: 200px;
    font-size: 12px;
    border: 1px solid gray;
    margin: auto;
    margin-bottom: 10px;
}

.entityCardImage {
    height: 100%;
    width: 30%;
    position: absolute;
    left: 0px;
    border-top-right-radius: 9px;
    border-bottom-right-radius: 9px;
}

.entityCardPrices {
    position: absolute;
    right: 10px;
    bottom: 60px;
    font-weight: bold;
    font-size: 25px;
}

.entityCardName {
    position: absolute;
    left: 200px;
}

div.entityCardGrade {
    position: absolute;
    top: 15px;
    right: 10px;
    font-size: 15px;
    font-weight: bold;
}

span.entityCardGrade {
    padding: 8px;
    border: 2px solid black;
    color: #FF5A5F;
    background-color: lavenderblush;
}

.entityCardReviews {
    position: absolute;
    top: 33px;
    right: 44px;
}

.entityCardButton {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: lavenderblush;
    color: #FF5A5F;
    font-weight: bold;
    align-items: left;
    width: 90px;
    height: 30px;
}

.entityCardDescription {
    position: absolute;
    left: 200px;
    top: 65px;
    font-size: larger;
}

.entityCardAddress {
    position: absolute;
    left: 218px;
    top: 38px;
    font-size: larger;
}

.addressLogo {
    position: absolute;
    left: 195px;
    top: 31px;
}

.entityButton {
    display: inline-flex;
    align-items: center;
    position: relative;
    margin: auto;
    background-color: white;
    border: white;
    padding: 15px;
    margin-bottom: 15px;
}

.entityButtonWithBorder {
    border-color: gray;
    display: inline-flex;
    align-items: center;
    position: relative;
    margin: auto;
    background-color: white;
    padding: 15px;
    margin-bottom: 15px;
}


div.sort {
    width: 35%;
    display: flex;
    flex-direction: row;
}

.formData {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.entityDetails {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #FF5A5F;
    height: 100%;
    width: 100%;
    padding: 20px;
}

.entityDetailsForm {
    display: flex;
    flex-direction: column;
    background-color:white;
    width: 30%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px -1px rgba(0,0,0,0.75);
    box-sizing: border-box;
    margin: 5% 10% 50% 0;
}

.entityDetailsLabel {
    width: 50%;
    height: 20px;
    padding: 30px;
}

