div.entities-view {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 10px;
}

.entityCard {
    position: relative;
    width: 600px;
    height: 200px;
    font-size: 12px;
    border: 1px solid gray;
    margin: auto;
    margin-bottom: 10px;
}


.card--username {
    position: absolute;
    left: 10px;
}

.entityCardButton--accept {
    position: absolute;
    bottom: 10px;
    right: 10px;
    top: 150px;
    align-items: left;
}

.entityCardButton--deny {
    position: absolute;
    bottom: 10px;
    right: 120px;
    top: 150px;
    align-items: left;
}

.card--reason {
    position: absolute;
    left: 10px;
    top: 80px;
    font-size: larger;
}

.card--name {
    position: absolute;
    left: 10px;
    top: 38px;
    font-size: larger;
}

.card--surname {
    position: absolute;
    left: 10px;
    top: 60px;
    font-size: larger;
}