
.form--instructor--update {
    box-sizing: border-box;
    background-color: white;
    padding: 50px;
    width: 50vh ;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 5px 5px 15px -1px rgba(0,0,0,0.75);
    margin-top: 10%;
}

.form--title {
    margin-bottom: 20px;
    color: black;
}

.container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
    background-color: #FF5A5F;
}

.item {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto auto auto;
    align-self:flex-start;
}

.profile-photo {
    width: 50%;
    height: fit-content;
    display: block;
    margin-top: 10%;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    border: 1px solid #ccc;
    background-color: white;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    height: fit-content;
    margin-top: 10px;
}

.file-upload-container {
    display: block;
    width: fit-content;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
}