.textBox {
    margin-bottom: 15px;
    height: 35px;
    width: 190px;
    text-indent: 10px;
    border: 1px solid #444;
    border-radius: 5px;
    display: inline-block;
    margin: 10px;
}

.userProfileHeader {
    font-size: 40px;
    font-weight: 800;
    text-align: center;
    color: #FF5A5F;

}

.userProfile {
    text-align: center;
    color: black;
    font-weight: lighter;
    padding: 50px;
    margin-top: 5px;
}

.userProfileForm {
    display: inline-block;
    background-color:lavenderblush;
    padding: 20px;
}

.userLabel {
    display: inline-block;
    width: 200px;
    height: 20px;
    padding: 10px;
}

.updateBtn {
    border-color:black;
    background-color: #FF5A5F;
    font-weight: bolder;
    bottom: 0;
    right: 0;
}

.textAreaReason {
    height: auto;
    width: auto;
    text-indent: 10px;
    border: 1px solid #444;
    border-radius: 5px;
    margin-top: 10px;
}

.saveReasonButton {
    position: absolute;
    right: 20px;
    bottom: 20px;
    background-color:lavenderblush;
    color: black;
    font-weight: bolder;
    height: 30px;
    width: 77px;
}

.deleteButton {
    border-color:black;
    background-color: #FF5A5F;
    font-weight: bold;
    align-items: left;
    margin-left: 10px;
}