.textBox {
    height: 20px;
    width: 28.5%;
    border: 1px solid #444;
    border-radius: 5px;
    font-size: small;
}

.userProfileHeader {
    font-size: 40px;
    font-weight: 800;
    text-align: center;
    color: #FF5A5F;

}

.userProfile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #FF5A5F;
    height: 100%;
    width: 100%;
    padding: 20px;
}

.userProfileForm {
    display: flex;
    flex-direction: column;
    background-color:white;
    width: 50%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px -1px rgba(0,0,0,0.75);
    box-sizing: border-box;
    margin: 5% 10% 50% 0;
}

.formOpacity {
    opacity: .1;
}

.userLabel {
    width: 20%;
    height: 20px;
    margin-right: 20px;
    padding: 20px;
}

.client-form-data{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.updateBtn {
    margin-left: 20%;
    color: white;
    background-color: #FF5A5F;
    width: 20%;
    height: 2.5vh;
    border-radius: 5px;
    border: none;
    cursor: pointer; 
}

.deleteButton {
    width: 300px;
    height: 30px;
    background-color: #FF5A5F;
    align-self: center;
    margin : 4% 0 0 0;
    border-radius: 10px;
    color: white;
    border: none;
    cursor: pointer; 
}

.clientProfilePictureDiv {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5% 20% 0 0;
}

.clientProfilePicture {
    width: 90%;
    border-radius: 9px;
}

.changeProfilePictureBtn {
    margin-top: 5%;
    color: #FF5A5F;
    background-color: white;
    font-weight: bold;
    font-size: medium;
    width: 70%;
    height: 3vh;
    border-radius: 5px;
    border: none;
    cursor: pointer; 
}

