.textBox {
    width: 35%;
    border: 1px solid #444;
    border-radius: 5px;
    font-size: medium;
}

.editProfile-header{
    text-align: center;
    font-weight: 600;
}

.userProfile {
    background-color: #FF5A5F;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 120vh;
    width: 100%;
    font-size: large;
}

.userProfileForm {
    display: flex;
    flex-direction: column;
    background-color:white;
    width: 60%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px -1px rgba(0,0,0,0.75);
    box-sizing: border-box;
    margin: 1.5% 0% 0% 0%;
}

.formOpacity {
    opacity: .1;
}

.userLabel {
    width: 35%;
    padding: 20px;
}

.user-form-data{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 4vh;
    margin-bottom: 1.5vh;
}

.user-form-data-bio{
    margin-top: 6vh;
    margin-bottom: 6vh;
}

.user-form-data-category{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 4vh;
    margin-bottom: 1.5vh;
    width: 62%;
}

.REGULAR {
    color: rgb(17, 147, 203);
}

.BRONZE {
    color: #cd853f;;
}

.SILVER {
    color: silver;
}

.GOLD {
    color: gold;
}

.updateBtn {
    color: white;
    background-color: #FF5A5F;
    width: 20%;
    height: auto;
    border-radius: 5px;
    border: none;
    cursor: pointer; 
}


.clientProfilePictureDiv {
    width: 50%;
    height: auto;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2.5% 0% 5% 0;
}

.clientProfilePicture {
    width: 12vw;
    height: auto;
    border-radius: 10px;
    
}

.img-REGULAR {
    border: 0.5vh solid rgb(17, 147, 203);
}

.img-BRONZE {
    border: 0.5vh  solid #cd853f;;
}

.img-SILVER {
    border: 0.5vh  solid silver;
}

.img-GOLD {
    border: 0.5vh  solid gold;
}

.changeProfilePictureBtn {
    margin-top: 5%;
    color: white;
    background-color: #FF5A5F;
    font-size: medium;
    width: 15vw;
    height: 3.5vh;
    border-radius: 5px;
    border: none;
    cursor: pointer; 
    text-align: center;
}

.delete--reset{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    margin-top: 4%;
}

.textAreaReason{
    outline-color: #FF5A5F;
}

.profileImageAndPenalites {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
}

.penalitesAndWorning {
    display: flex;
    flex-direction: column;
    margin: 2.5% 0 5% 2%;
    font-weight: 500;
}

.penalties {
    background-color: white;
    color: #FF5A5F;
    padding: 10px;
    width: 20vw;
    height: fit-content;
    align-self: right;
    border-radius: 10px;
    border: 1px solid #FF5A5F;
    margin: 2.5% 0% 5% 0;
    font-weight: 500;

}

.penaltiesNum {
    margin-left: 5px;
    font-weight: 800;
}
