
.form-container {
    background-color: #FF5A5F;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form {
    background-color: white;
    padding: 50px;
    height: 100%;
    width: 30%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 5px 5px 15px -1px rgba(0,0,0,0.75);
    box-sizing: border-box;
    font-size: large;
    margin: 4% 0 4% 0 ;
}

.form--input {
    width: 95%;
    margin-bottom: 20px;
    height: 4vh;
    border-radius: 5px;
    border: 1px solid gray;
    padding: 5px;
    font-family: 'Inter', sans-serif;
}

.form--input-area {
    width: 95%;
    margin-bottom: 20px;
    height: 70px;
    border-radius: 5px;
    border: 1px solid gray;
    padding: 5px;
    font-family: 'Inter', sans-serif;
    resize: none;
}

.form--submit, .form--save {
    width: 97%;
    padding: 10px;
    border-radius: 5px;
    color: white;
    background-color: #FF5A5F;
    border: none;
    cursor: pointer; 
}

.form--save {
    margin-top: 3%;

}

.form--marketing {
    display: flex;
    margin-bottom: 20px;
    align-items: center;
}

.form--marketing > input {
    margin-right: 10px;
}

.form--header{
    margin-bottom: 20px;
    color: black;
}

.counter{
    display: flex;
    align-items: center;
}

.bedRoom{
    display: flex;
    flex-direction: row;
    font-size: medium;
    width: 95%;
    margin: 2px;
    margin-left: 3px;
    align-items: left;
    font-size: 18px;
}

.counter{
    height: 100%;
}

.bedRoom--label{
    width: 45%;
    margin-top: 2%;
}

.edit-cottage-container{
    display: flex;
    flex-direction: column;
}

.actions--container{
    width: 50%;
}
