
.action-dateRangePicker{
    width: 100%;
    box-shadow: 2px 2px 15px 2px rgba(0.3,1,2,0.3);
    margin-bottom: 3%;
}
.edit-cottage-container{
    display: flex;
    flex-direction: row;
    background-color: #FF5A5F;
}
.actions--data{
    margin: 3% 0 6% 0;
    display: flex;
    width: 95%;
    justify-content: space-between;
}
.actions--textfield{
    width: 40%;
}
.action--submit{
    width: 40%;
    margin-left: 10px;
}
.expirationDatePicker{
    width:100%;
}
.actions--container{
    display: flex;
    flex-direction: column;
    width: 40%;
    background-color: white;
    box-shadow: 5px 5px 15px -1px rgba(0,0,0,0.75);
    box-sizing: border-box;
    border-radius: 10px;
    font-size: large;
    margin: 2% 0 4% 2% ;
    align-items: center;
    padding: 20px;

}
.edit-cottage-form-container {
    height: 100%;
    width: 50%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.edit-cottage-form {
    background-color: white;
    padding: 50px;
    height: 100%;
    width: 80%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 5px 5px 15px -1px rgba(0,0,0,0.75);
    box-sizing: border-box;
    font-size: large;
    margin: 4% 0 4% 0 ;
}

.actions--header{
    margin-bottom: 20px;
    margin-top: 20px;
}

.edit-cottage-form--input {
    width: 95%;
    margin-bottom: 20px;
    height: 4vh;
    border-radius: 5px;
    border: 1px solid gray;
    padding: 5px;
    font-family: 'Inter', sans-serif;
}

.edit-cottage-form--input-area {
    width: 95%;
    margin-bottom: 20px;
    height: 70px;
    border-radius: 5px;
    border: 1px solid gray;
    padding: 5px;
    font-family: 'Inter', sans-serif;
    resize: none;
}

.edit-cottage-form--submit, .edit-cottage-form--save {
    width: 97%;
    padding: 10px;
    border-radius: 5px;
    color: white;
    background-color: #FF5A5F;
    border: none;
    cursor: pointer; 
}

.edit-cottage-form--save {
    margin-top: 3%;

}

.edit-cottage-form--marketing {
    display: flex;
    margin-bottom: 20px;
    align-items: center;
}

.edit-cottage-form--marketing > input {
    margin-right: 10px;
}

.edit-cottage-form--header{
    margin-bottom: 20px;
    color: black;
}

.counter{
    display: flex;
    align-items: center;
}

.edit-cottage-bedRoom{
    display: flex;
    flex-direction: row;
    font-size: medium;
    width: 95%;
    margin: 2px;
    margin-left: 3px;
    align-items: left;
    font-size: 18px;
}

.counter{
    height: 100%;
}

.edit-cottage-bedRoom--label{
    width: 45%;
    margin-top: 2%;
}
