.btn-primary{
    color:#fff !important;
    background-color: #FF5A5F !important;
    border-color: #FF5A5F !important;
}

.user-icon{
    width: 70px;
    height: 70px;
    margin-bottom: 2rem;
}

.iconContainer {
    text-align: center;
}