
.banner__info {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    background-color: black;
    color: #fff;
    font-size: 5px;
}
.banner_image{
    width: 100%;
    aspect-ratio: 16/9;
}

.banner__info {
    height: 100%;
}

.explore--nearby{

    max-width: 30%;
    margin: 45em 0 0em 10em;
}

.banner__info button {
    background-color: #ff7779;
    color: #fff;
    text-transform: inherit;
    margin-top: 20px;
    font-size: 1.1vw;
    width: 11vw;
    font-weight: 600;
}

.banner__info button:hover {
    background-color: #fff;
    color: #ff7779;
}

.banner__info h5 {
    margin-top: 10px;
    font-size: 1.2vw;
}

.banner__info h1 {
    font-size: 2.3vw;
}


@media only screen and (max-width: 812px) {
    .banner__info {
        padding: 0;
        flex-direction: column;
    }
    .explore--nearby{
        max-width: 25%;
        margin: 15em 15em 15em 10em;
    }
}

