body {
    margin: 0;
    font-family: 'Inter', sans-serif;
}

.form-container {
    box-sizing: border-box;
    background-color: #ccc;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form {
    box-sizing: border-box;
    background-color: white;
    padding: 50px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 5px 5px 15px -1px rgba(0,0,0,0.75);
}

.form--title {
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 20px;
    height: 40px;
    padding: 5px;
    font-family: 'Inter', sans-serif;
}

.form--input {
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 20px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid gray;
    padding: 5px;
    font-family: 'Inter', sans-serif;
}

.form--input-area {
    box-sizing: border-box;
    resize: none;
    width: 100%;
    margin-bottom: 20px;
    height: 60px;
    border-radius: 5px;
    border: 1px solid gray;
    padding: 5px;
    font-family: 'Inter', sans-serif;
}

.form--insert-pictures {
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 20px;
    height: 40px;
    padding: 5px;
    font-family: 'Inter', sans-serif;
}

.form--submit {
    box-sizing: border-box;
    width: 50%;
    padding: 10px;
    border-radius: 5px;
    color: white;
    background-color: #639;
    border: none;   
    cursor: pointer; 
}

.form--error {
    box-sizing: border-box;
    color: rgb(183, 0, 0);
    width: 100%;
    font-size: 12px;
    font-family: 'Inter', sans-serif;
}