.form--type{
    width: 98%;
    margin-bottom: 20px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid gray;
    padding: 5px;
    font-family: 'Inter', sans-serif;
}

.type--label {
    font-weight:lighter;
    font-size: 16px;
    align-self: flex-start;
    margin-left: 4px;
    margin-bottom: 2px;
}
